html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-main);
  color: var(--clr-black-dark, #000);
  font-weight: 400;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  overscroll-behavior: none;
}