@font-face {
  font-family: 'poppins-regular';
  src:
      local("Poppins Regular"),
      url("/fonts/Poppins-Regular.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}