@font-face {
  font-family: 'commons';
  src:
      local("TTCommons Regular"),
      url("/fonts/TTCommons-Regular.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}